.card {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 300px;
}

.card-body {
  padding-left: 0px;
  padding-right: 0px;
}

.btn-secondary {
	background-color: #f19f4d;
}

.card-image {
  height: 200px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}

.title {
  font-weight: bold;
}

.news-card{
  float: left;
  height: 400px;
}

.info-button{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0px;
}

.news-info-button {
  border-top: 3px solid black;
}

.news-card {
  color: black;
  margin-right: 10px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  flex: 0 0 auto;
}

.name-title {
  font-weight: bold;
  color: black;
}

.subtitle {
  font-size: 1.0em;
  text-align: left;
  margin-bottom: 10px;
}

.last-subtitle {
  margin-bottom: 0px;
}

.tag-line {
  text-align: center;
  font-style: italic;
}

.main-role {
  text-align: center;
  font-size: 1.2em;
}

.main-role-charity {
  text-align: center;
  font-size: 1.1em;
}
