.carousel-image {
    height: 70vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.6);
}

.carousel-image1 {
  background-image: url('../img/carousel1.jpg');
}

.carousel-image2 {
    background-image: url('../img/carousel2.jpg');
}

.carousel-image3 {
    background-image: url('../img/carousel3.jpg');
}
