dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
  }

.person-dl {
    width: 100%;
}

  dt {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  dd {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    text-align: right;
  }

.economic-dt {
    width: 60%;
}

.economic-dd {
    width: 40%;
}


.news-cards{
    overflow-x: scroll;
    height: 400px;
}

.news-cards2{
    overflow-y: scroll;
    height: 400px;
}


.tagline {
    font-style: italic;
    font-weight: bold;
    font-size: 3em;
    width: 80%;
    margin: 0 auto;
}

.lead-bold {
    font-weight: bold;
}

.image-div {
    width: 420px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
    height: 280px;
    margin: 0 auto;
}

.image-div-half {
    width: 500px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
    margin: 0 auto;
}

.wrapper {
    display: table;
    table-layout: fixed;
    border-spacing: 10px;
    width:90%;
    margin: 0 auto;
    height:400px !important;
}
.wrapper div {
    display: table-cell;
}

.info {
    max-height:400px;
}

.irs-info {
    margin: 0 auto;
}

.irs-wrapper {
    width: 30%;
}

.picture {
    background-image: url('../img/arjun.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 100px;
    height: 100px;
}

#carousel {
    width: 100%;
    height: 150px;
    background-color: #ff0000;

    overflow: visible;
    white-space:nowrap;
}

#carousel .slide {
    display: inline-block;
}

.display-4 {
  text-align: center;
}
