* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

html,
body {
 height: 100%;
 position: relative;
}

body {
	background-color: #f5f5f5;
}

a {
	color: #f19f4d;
}

.row{
  width: 100%;
}

#app {
  min-height: 100%;
}

#container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2.5em;
  background-color: #233237;
  color: white;
  text-align: center;
}

.link:hover {
  color: #000;
}

.navbar {
	background-color: #c12c4a;
}

.logo {
	max-height: 3em;
	max-width: 3em;
	margin-right: 10px;
}

.navbar .navbar-brand {
	color: white;
}

.nav-item,
.nav-item .nav-link {
	color: white;
}

.instance-section{
  padding: 20px;
}

.people_relation{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.people_relation .people_relation_item {
  padding:8px;
  margin: 5px;
  background: #efefef;
}

.country_relation{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.country_relation .country_relation_item {
  padding:8px;
  margin: 5px;
  background: #efefef;
}

.charities_relation{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.charities_relation .charities_relation_item {
  padding:8px;
  margin: 5px;
  background: #efefef;
}

#app {
  padding-bottom: 2.5em;
}

#globalSearchButton {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

#globalSearchButton:hover{
  color: rgba(255, 255, 255, 1.0);
  border-color: rgba(255, 255, 255, 1.0);
  background: transparent;
}
