.form-inline {
    margin: 0 auto;
    width: 80%;
}


.outer-form {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.inner-form {
  display: inherit;
  flex-grow: 5;
}

.inner-form > .input-group {
  margin-right: 20px;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
}

.row {
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.filter-button {
  width: 100px;
}

.dropdown-toggle-split {
  width: 40px;
}

.dropdown-toggle {
  background-color: transparent;
  border: 1px solid #6c757d;
  color: #6c757d;
}

.state-filter {
  width: 100px !important;
}

.wrapper {
  display: table;
  table-layout: fixed;
  border-spacing: 10px;
  width:90%;
  margin: 0 auto;
}

.wrapper div {
    display: inline;
}
