.pagination {
  flex-direction: row;
  justify-content: center;
}

.page-button {
  background-color: inherit;
  width: 30px;
}

p.event_desc {
  line-height: 14px;
  height:75px;
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  width: 150px;
}

.next_page {
  margin-left: -10px;
}

.page-button:focus {
  outline: none;
}
