.frame {
    width: 240px;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 0 0 auto;
}

.portrait {
    width: 100%;
    height: 200px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}

.label {
    width: 200px;
    height: 100px;
    word-wrap: break-word;
    /* white-space: pre-wrap; */
}

.text {
    text-align: center;
}