.data-container {
    width: 90%;
    margin: 0 auto;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: antiquewhite;
}

.person-container {
    background-color: #c31d3b;
}

.news-container {
    background-color: #245642;
}

.charity-container {
    background-color: #5e2741;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    overflow-y: hidden;
}

.news-scrolling-wrapper {
  margin-top: 10px;
}

