.color-square {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 20px;
    border: 1px solid black;
}

.white {
    background-color: white;
}

.first-blue {
    background-color: #cce0ff;
}

.second-blue {
    background-color: #99c2ff;
}

.third-blue {
    background-color: #4d94ff;
}

.fourth-blue {
    background-color: #005ce6;
}

.fifth-blue {
    background-color: #003380;
}

.inline-header {
    display:inline;
}

.legend {
    width: 150px;
    margin-left: 20px;
    display:inline-block;
}