.visualization-container {
  width: 70%;
  height: 700px;
  margin: 0 auto;
  margin-top: 20px;
  border: 5px solid #286da8;
  border-radius: 100px;
  flex-grow: 1;
}

.page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.link {
  stroke: #c1c1c1;
  stroke-width: 2px;
  pointer-events: all;
}

.node circle {
  pointer-events: all;
  stroke: #777;
  stroke-width: 1px;
}


div.tooltip {
  position: absolute;
  background-color: white;
  max-width: 200px;
  height: auto;
  padding: 1px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
  pointer-events: none;
}

.bar { fill: steelblue; }

.loading_animation {
  display: block;
  margin: 0 auto;
}

.visContainer {
  width: 90%;
  margin: 0 auto;
}

.spacer {
  height: 40px;
}